@font-face {
    font-family: MullerBold;
    src: url(../assets/fonts/MullerBold.woff);
}
@font-face {
    font-family: MullerLight;
    src: url(../assets/fonts/MullerLight.woff);
}
@font-face {
    font-family: MullerBlack;
    src: url(../assets/fonts/MullerBlack.woff);
}
body {
    margin: 0px;
}
header {
    border-bottom: 3px;
    border-color:#EC1164;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(6, 4, 4, 0.616);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
}
/* Header Option1 */
.LogoSection img {
    max-width: 8vw;
    padding: 1vw;
    margin-left: 1vw;
} 

.topnav {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.topnav_link {
    padding: 5px;
    background-color: rgba(47, 120, 255, 0.185);
    align-items: center;
    text-align: center;
    height: 3vw;
}
.topnav_link a {
    font-size: 16px;
    font-family: 'MullerLight';
    font-weight: 600;
}
.topnav_link a:active {
    font-family: 'MullerBold';
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 229, 253);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-family: 'MullerLight';
    font-size: 16px;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: rgba(47, 120, 255, 0.185);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff;}

.ButtonSection a {
    border-radius: 35px;
    border-style: none;
    background: #EC1164;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 18vw;
    height: 8vw;
    padding: 1vw;
    color: white;
    font-family: 'MullerBlack';
    text-transform: uppercase;
    font-size: 18px;
}
.ButtonSection a:hover {
    background: #cb024f;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: black;
}
.phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.phone p {
    font-family: 'MullerBold';
    font-weight: 500;
    font-size: 15px;
}
.phone img {
    max-width: 25px;
}
.ButtonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
@media screen and (min-width: 601px) {
    #header_mob {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #header_full {
        display: none;
        position: sticky;
        top: 0;
    }
    header {
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
    .LogoSection img {
        max-width: 20vw;
        padding: 1vw;
        margin-left: 0vw;
    }
    .topnav_link {
        height: 6vw;
        text-align: start;
    }
    .topnav_link a {
        font-size: 14px;
    }
    .dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 20vw;
    }
    .dropbtn img {
        width: 5vw;
    }
    .dropdown-content a {
        font-size: 14px;
    }
    .dropdown-content a:hover {background-color: rgba(47, 120, 255, 0.185);}
    
    .dropdown:hover .dropdown-content {display: flex; flex-direction: column; margin-top: 150vw;}
    
    .dropdown:hover .dropbtn {background-color: #ffffff;}
    
    .ButtonSection a {
        width: 170px;
        height: 35px;
        font-size: 12px;
        padding: 10px;
        margin-right: 0vw;
    }
    .phone p {
        font-size: 12px;
    }
    .phone img {
        max-width: 20px;
    }
    .ButtonSection {
        margin-right: 0;
        padding-top: 5px;
        margin-left: 5vw;
    }
}

