@font-face {
    font-family: MullerBold;
    src: url(./assets/fonts/MullerBold.woff);
}
@font-face {
    font-family: MullerLight;
    src: url(./assets/fonts/MullerLight.woff);
}
@font-face {
    font-family: MullerBlack;
    src: url(./assets/fonts/MullerBlack.woff);
}

/*
body {
    margin: 0px;
}
header {
    border-bottom: 3px;
    border-color: palevioletred;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(6, 4, 4, 0.616);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
}

.LogoSection img {
    max-width: 8vw;
    padding: 1vw;
    margin-left: 3vw;
}  

.topnav_link {
    border-color: rgb(35, 25, 25);
    border: 3px;
    margin: 5px;
    padding: 0px;
    background-color: rgba(47, 120, 255, 0.185);
    font-weight: 800;
}
.dropbtn {
    padding-top: 3vw;
    width: 3vw;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 3vw;
    margin-left: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(217, 229, 253);
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    font-family: 'MullerLight';
    padding: 1vw 2vw;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: rgba(47, 120, 255, 0.185);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ffffff;}

.ButtonHelp {
    border-radius: 35px;
    border-style: none;
    background: #EC1164;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 40px;
    color: white;
    font-family: 'MullerBlack';
    text-transform: uppercase;
    font-size: 18px;
}
.RightSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.RightSection p {
    font-family: 'MullerBold';
    font-weight: 500;
    font-size: 12px;
}
.RightSection img {
    max-width: 25px;
}
.ButtonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-right: 3vw;
}
@media screen and (max-width: 600px) {
    .ButtonHelp {
    width: 100px;
    height: 20px;
    font-size: 9px;
    }
    .RightSection p {
        font-family: 'MullerBold';
        font-weight: 500;
        font-size: 8px;
    }
    .RightSection img {
        max-width: 12px;
    }
    .ButtonSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4px;
        margin-right: 1vw;
    }
    .dropbtn {
        padding-top: 3vw;
        width: 5vw;
    }
} */

/* body */

h2 {
    color: #444343;
    font-family: 'MullerBlack';
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    text-transform: uppercase;
    text-align: start;
    margin-top: 10vw;
    grid-area: 1/1/2/2;
}

h3 {
    color: #444343;
    font-family: 'MullerBlack';
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 80%;
    text-transform: uppercase;
    text-align: start;
    margin-top: 10vw;
    grid-area: 3/1/4/2;
}

main {
    display: grid;
    grid-template-columns: 45vw 35vw;
    grid-template-rows: 50vh 15vh 15vh;
    padding-left: 10vw;
    padding-right: 20vw;
    margin-bottom: 45vh;
}

.news1 {
    grid-area: 2/1/3/2;
    display: flex;
    align-items: center;
}

.news2 {
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
}

.vk {
    grid-area: 4/2/5/3;
    display: flex;
    align-items: center;
}

.telegram {
    grid-area: 5/2/6/3;
    display: flex;
    align-items: center;
}

.youtube {
    grid-area: 6/2/7/3;
    display: flex;
    align-items: center;
}


/* footer */
/* .btn1{
    padding:20px;
    border:2px solid hotpink;
    border-radius: 20px;
    text-align: center;
}
.want{
    display: flex;
    justify-content: center;
    gap:20px;
}

.social{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:20px;
}

.btn2{
    background-color: blue;
    padding:20px;
    border:none;
}

.btn3{
    background-color:aqua;
    padding:20px;
    border:none;
}
.btn4{
    background-color:red;
    padding:20px;
    border:none;
}

.docs{
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top:20px;
}

.btn5{
    background-color:hotpink;
    padding:20px;
    border:none;
}

.btn6{
    padding:20px;
    border:2px solid rgb(208, 168, 188);
    border-radius: 20px;
    text-align: center;
    color:gray;
}
.vk{
    width:120px;
    border-radius:30px;
}

.telegram{
    width:90px;
}
.youtube{
    width:120px;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.conteiner{
    display: flex;
    flex-direction: column;

}

.rights{
    text-align: center;
    font-size:15px;
    margin-top: 50px;
}

.up{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media all and (max-width:800px){
    .want{
        display: flex;
        flex-direction: column;
        }
    .social, .docs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    }  */
