@font-face {
    font-family: MullerBold;
    src: url(../assets/fonts/MullerBold.woff);
}
@font-face {
    font-family: MullerLight;
    src: url(../assets/fonts/MullerLight.woff);
}
@font-face {
    font-family: MullerBlack;
    src: url(../assets/fonts/MullerBlack.woff);
}

p {
    color: #444343;
    font-family: 'MullerLight';
    font-size: 30px;
    font-style: normal;
    font-weight: 50;
    line-height: 80%;
    text-transform: uppercase;
    text-align: start;
    margin-top: 10vw;
}