body {
  margin: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.banner_main {
  position: absolute;
  left: auto;
  height: 70vh;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.text {
  width: 50%;
  position: relative;
  top: 15px;
  margin-left: 100px;
}

.video {
  display: flex;
  width: 40%;
}

.block h1,
.block p {
  color: black;
}

footer {
  margin-top: 50px;
}
